<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/public/style/admintable.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="admin-table">
        <table>
            <thead>
              <tr>
                <th>admin panel</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td align="center">
                    add a picture
                    
                    <form action="#" method="POST" enctype="multipart/form-data">
                        <input type="file" name="image" accept="image/*">
                    </form>
                </td>
              </tr>
              <tr>
                <td align="center">
                    enter the author's name
                    
                    <form action="#" method="POST" enctype="multipart/form-data">
                        <input type="text" id="author" name="author">
                    </form>
                </td>
              </tr>
              <tr>
                <td align="center">
                    enter up to 6 tags
                    
                    <form action="#" method="POST" enctype="multipart/form-data">
                        tag <input type="text" id="teg" name="teg"><br>
                        tag <input type="text" id="teg" name="teg"><br>
                        tag <input type="text" id="teg" name="teg"><br>
                        tag <input type="text" id="teg" name="teg"><br>
                        tag <input type="text" id="teg" name="teg"><br>
                        tag <input type="text" id="teg" name="teg"><br>
                    </form>
                </td>
              </tr>
              <tr>
                <td align="center">
                    <input type="submit" value="add to the site">
                </td>
              </tr>
              <tr>
                <td align="center">
                    <h2>other publications on the site</h2> <br>
                    <h3>click on the cross at the bottom to delete the post from the site</h3>
                </td>
              </tr>
              <tr>
                <td align="center">
                    <!-- другие публикации на сайте  -->
                    <div class="block-content">
                        <div class="container">
                            <img src="/public/assets/image/favicon.jpg" alt="Фото">
                            <div class="btn-close" onclick="this.parentNode.remove()">&#10006;</div>
                        </div>
                        <div class="container">
                            <img src="/public/assets/image/favicon.jpg" alt="Фото">
                            <div class="btn-close" onclick="this.parentNode.remove()">&#10006;</div>
                        </div>
                        <div class="container">
                            <img src="/public/assets/image/favicon.jpg" alt="Фото">
                            <div class="btn-close" onclick="this.parentNode.remove()">&#10006;</div>
                        </div>
                        <div class="container">
                            <img src="/public/assets/image/favicon.jpg" alt="Фото">
                            <div class="btn-close" onclick="this.parentNode.remove()">&#10006;</div>
                        </div>
                        <div class="container">
                            <img src="/public/assets/image/favicon.jpg" alt="Фото">
                            <div class="btn-close" onclick="this.parentNode.remove()">&#10006;</div>
                        </div>
                        <div class="container">
                            <img src="/public/assets/image/favicon.jpg" alt="Фото">
                            <div class="btn-close" onclick="this.parentNode.remove()">&#10006;</div>
                        </div>
                        <div class="container">
                            <img src="/public/assets/image/favicon.jpg" alt="Фото">
                            <div class="btn-close" onclick="this.parentNode.remove()">&#10006;</div>
                        </div>
                        <div class="container">
                            <img src="/public/assets/image/favicon.jpg" alt="Фото">
                            <div class="btn-close" onclick="this.parentNode.remove()">&#10006;</div>
                        </div>
                        <div class="container">
                            <img src="/public/assets/image/favicon.jpg" alt="Фото">
                            <div class="btn-close" onclick="this.parentNode.remove()">&#10006;</div>
                        </div>
                        <div class="container">
                            <img src="/public/assets/image/favicon.jpg" alt="Фото">
                            <div class="btn-close" onclick="this.parentNode.remove()">&#10006;</div>
                        </div>
                        <div class="container">
                            <img src="/public/assets/image/favicon.jpg" alt="Фото">
                            <div class="btn-close" onclick="this.parentNode.remove()">&#10006;</div>
                        </div>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>                    
    </div>
</body>
</html>