<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/public/style/admintable.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="admin-table">
        <table>
            <thead>
                <tr>
                    <th>admin panel</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td align="center">
                        <h4>add a picture</h4>
                    
                        <form>
                            <input type="url" id="imageLink" placeholder="Введите ссылку на изображение">
                            <input type="submit" value="Загрузить по ссылке">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        enter the author's name
                    
                        <form>
                            <input type="text" id="author" name="author">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        enter up to 6 tags
                    
                        <form>
                            tag <input type="text" id="teg" name="teg"><br>
                            tag <input type="text" id="teg" name="teg"><br>
                            tag <input type="text" id="teg" name="teg"><br>
                            tag <input type="text" id="teg" name="teg"><br>
                            tag <input type="text" id="teg" name="teg"><br>
                            tag <input type="text" id="teg" name="teg"><br>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <input type="submit" value="add to the site">
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <h2>other publications on the site</h2> <br>
                        <h3>click on the cross at the bottom to delete the post from the site</h3>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <!-- другие публикации на сайте  -->
                        <div class="block-content">
                            <table class="container">
                                <tr>
                                    <td><a href="ссылка_на_изображение"><img src="/public/assets/image/favicon.jpg" alt="Фото"></a></td>
                                </tr>
                                <tr>
                                    <td>Имя автора</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="tag">Тег1</span>
                                        <span class="tag">Тег2</span>
                                        <span class="tag">Тег3</span>
                                        <span class="tag">Тег4</span>
                                        <span class="tag">Тег5</span>
                                        <span class="tag">Тег6</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><button>удалить</button></td>
                                </tr>
                            </table>
                            <table class="container">
                                <tr>
                                    <td><a href="ссылка_на_изображение"><img src="/public/assets/image/favicon.jpg" alt="Фото"></a></td>
                                </tr>
                                <tr>
                                    <td>Имя автора</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="tag">Тег1</span>
                                        <span class="tag">Тег2</span>
                                        <span class="tag">Тег3</span>
                                        <span class="tag">Тег4</span>
                                        <span class="tag">Тег5</span>
                                        <span class="tag">Тег6</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><button>удалить</button></td>
                                </tr>
                            </table>
                            <table class="container">
                                <tr>
                                    <td><a href="ссылка_на_изображение"><img src="/public/assets/image/favicon.jpg" alt="Фото"></a></td>
                                </tr>
                                <tr>
                                    <td>Имя автора</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="tag">Тег1</span>
                                        <span class="tag">Тег2</span>
                                        <span class="tag">Тег3</span>
                                        <span class="tag">Тег4</span>
                                        <span class="tag">Тег5</span>
                                        <span class="tag">Тег6</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><button>удалить</button></td>
                                </tr>
                            </table>
                        </div> 
                    </td>
                </tr>
            </tbody>
        </table>                    
    </div>
</body>
</html>